.site-layout-background {
  background: #fff;
  padding-bottom: 50;
  height: "90vh";
  background: white;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100px;
}

.custom-search-bar .ant-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
}

.custom-search-bar .ant-btn {
  height: 40px;
  font-size: 20px;
  padding: 0 15px;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.chart-card {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.time-frame-button {
  margin-right: 10px;
  font-size: medium;
}

.collapsed-menu .menu-item {
  margin-bottom: 20px;
}

.responsive-chart-container {
  width: 800px;
  height: 500px;
}

.stock-title-container {
  display: flex;
  justify-content: center;
}

.movers-title {
  font-size: 2.3rem !important;
  margin-left: 20px;
}

.movers-secondary-title {
  font-size: 1.4rem !important;
  margin-left: 20px;
}

.show-more {
  font-size: 1.3rem !important;
}

.mover-card-container {
  min-height: 65vh !important;
}
.mover-card {
  min-width: 250px;
}
.mover-card .mover-image {
  width: 35px;
}

.button {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  color: #001529;
  background: #333;
  border-color: none;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #001529;
  background-color: transparent;
}

.button:hover {
  background-color: rgba(51, 51, 51, 0.025);
}

.button:hover > div {
  animation-play-state: paused;
}

.button > div {
  animation: marquee 55s infinite normal linear;
  padding: 0 0.5em;
}

.button > div a {
  margin-right: 5px; /* Adjust the value to control the spacing between links */
  color: #001529;
}

.announcement-wrapper {
  display: flex;
}

.announcement-item {
  flex: 1;
  padding-right: 30px;
}

.announcement-paragraph {
  display: inline;
  margin-left: 5px;
}
.green span {
  color: #5db43d;
}

.red span {
  color: #870c1f;
}

@keyframes marquee {
 
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .responsive-chart-container {
    width: 290px !important;
    height: 250px !important;
  }
  .time-frame-button {
    font-size: small !important;
  }

  .custom-search-bar .ant-input,
  .custom-search-bar .ant-btn {
    height: 40px;
    font-size: 16px;
  }

  .search-bar-container {
    position: relative;
    top: 0;
  }
}

@media (max-width: 992px) {
  .responsive-chart-container {
    width: 550px;
    height: 350px;
  }
  .time-frame-button {
    font-size: small;
  }
}
