/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
}
:where(.ant-typography) {
  font-family: 'Raleway', sans-serif;
} */
.site-layout{
  background: #fff;
  padding-bottom: 50;
  margin: "0 16px";
  min-height: "calc(100vh - 64px)";
}

.site-layout-background {
  background: #fff;
  padding-bottom: 50;
  height: "90vh";
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  margin-bottom: -20px;
}

.custom-search-bar .ant-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
}

.custom-search-bar .ant-btn {
  height: 40px;
  font-size: 20px;
  padding: 0 15px;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.chart-card {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.time-frame-button {
  margin-right: 10px;
  font-size: medium;
}

.collapsed-menu .menu-item {
  margin-bottom: 20px;
}

.responsive-chart-container {
  width: 800px;
  height: 500px;
}

.stock-title-container {
  display: flex;
  justify-content: center;
}

/* Tabs */

.tabs-container {
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  color: #001529;
  background: #333;
  border-color: none;
  line-height: 1;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #001529;
  background-color: transparent;
}

.button:hover {
  background-color: rgba(51, 51, 51, 0.025);
}

.button:hover > div {
  animation-play-state: paused;
}

.button > div {
  animation: marquee 65s infinite normal linear;
  padding: 0 0.5em;
}

.button > div a {
  margin-right: 5px; /* Adjust the value to control the spacing between links */
  color: #001529;
}

.announcement-wrapper {
  display: flex;
}

.announcement-item {
  flex: 1;
  padding-right: 30px;
}

.announcement-paragraph {
  display: inline;
  margin-left: 5px;
}
.green{
  color: #5db43d;
}

.red {
  color: #870c1f;
}

.ant-descriptions {
  margin: -10px 10px 0px 10px;
  padding-bottom: 10px;
}

/* News */
.news-first-title{
  font-size: 2rem;
  color: #001529;
  text-align: center;
  padding: 10px;
}

.select-news {
  width: 180px;
}
.ant-col {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.news-card {
  min-height: 300px !important;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

a:hover {
  color: var(--pink) !important;
}

/* Video */
.video-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.react-player {
  height: 40vh !important;
  width: 100% !important;
}

/* Error Page */
#oopss {
  background: linear-gradient(-45deg, #f1f1f1, #fafafa);
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
}
      
#oopss .error-404 {
  display: flex;
  justify-content: center;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}

#oopss .p-a {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 500;
  
}

#oopss .p-b {
  display: flex;
  justify-content: center;
 
}

#oopss .p-b .p-b-button{
  font-size: 1rem;
  font-weight: 500;
}

#oopss .error-img{
  display: flex;
  justify-content: center;
}

@keyframes marquee {
 
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .responsive-chart-container {
    width: 290px !important;
    height: 250px !important;
  }
  .time-frame-button {
    font-size: small !important;
  }

  .custom-search-bar .ant-input,
  .custom-search-bar .ant-btn {
    height: 40px;
    font-size: 16px;
  }

  .search-bar-container {
    position: relative;
    top: 0;
  }

  .react-player-container {
    width: 100%;
  }
  .react-player {
    height: 35vh ;
  }
}

@media (max-width: 992px) {
  .responsive-chart-container {
    width: 550px;
    height: 350px;
  }
  .time-frame-button {
    font-size: small;
  }
}
